/* noto-sans-kr-100 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/noto-sans-kr-v11-korean_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
  url('./fonts/noto-sans-kr-v11-korean_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/noto-sans-kr-v11-korean_latin-100.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/noto-sans-kr-v11-korean_latin-100.woff') format('woff'), /* Modern Browsers */ /*url('./fonts/noto-sans-kr-v11-korean_latin-100.ttf') format('truetype'), !* Safari, Android, iOS *!*/ url('./fonts/noto-sans-kr-v11-korean_latin-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-kr-v11-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
  url('./fonts/noto-sans-kr-v11-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/noto-sans-kr-v11-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/noto-sans-kr-v11-korean_latin-regular.woff') format('woff'), /* Modern Browsers */ /*url('./fonts/noto-sans-kr-v11-korean_latin-regular.ttf') format('truetype'), !* Safari, Android, iOS *!*/ url('./fonts/noto-sans-kr-v11-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-500 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/noto-sans-kr-v11-korean_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
  url('./fonts/noto-sans-kr-v11-korean_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/noto-sans-kr-v11-korean_latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/noto-sans-kr-v11-korean_latin-500.woff') format('woff'), /* Modern Browsers */ /*url('./fonts/noto-sans-kr-v11-korean_latin-500.ttf') format('truetype'), !* Safari, Android, iOS *!*/ url('./fonts/noto-sans-kr-v11-korean_latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-700 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/noto-sans-kr-v11-korean_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
  url('./fonts/noto-sans-kr-v11-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/noto-sans-kr-v11-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/noto-sans-kr-v11-korean_latin-700.woff') format('woff'), /* Modern Browsers */ /*url('./fonts/noto-sans-kr-v11-korean_latin-700.ttf') format('truetype'), !* Safari, Android, iOS *!*/ url('./fonts/noto-sans-kr-v11-korean_latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


body, html {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}